.subnav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    margin: 0;
    padding: 0;
}
.subnav-item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: 0.5rem;
    height: 100%;
    opacity: 1;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.subnav-item-enter{
    background-color: rgb(245, 245, 245);
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}
.subnav-item-enter-active{
    transition: background-color 100ms;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.subnav-item-enter-done{
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.subnav-item-exit{
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.subnav-item-exit-active{
    transition: background-color 100ms;
    background-color: rgb(245, 245, 245);
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}
.subnav-item-exit-done{
    background-color: rgb(245, 245, 245);
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}


.subnav-item-tag{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    width: 100%;
    height: 100%;
    padding-inline: 1rem;
    cursor: pointer;
}