@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@plugin "daisyui" {
    themes: light --default, dark --prefersdark, cupcake, silk, emerald, pastel;
}

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-base-100: #f9f4ed;  /* Your custom background color */
}

@plugin "tailwindcss-animate";

.page {
    min-height: calc(100vh - 4rem);
    padding-top: 4rem;
    z-index: 0;
}

.shape-circle {
    shape-outside: circle(50% at 50% 50%);
}