.landing{
    display: flex;
    justify-content: center;
}
.landing-container{
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}
.landing-title{
    font-family: 'Nanum Pen Script', cursive;
    margin-inline: auto;
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
}
.logo{
    height: 16rem;
    width: 16rem;
    margin-top: 5rem;
    margin-bottom: 1rem;
    background-color: aliceblue;
}
.search-form{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.4rem;
}
.search-bar{
    height: 2.2rem;
    width: 30rem;
    border: none;
    background-color: rgb(232, 232, 232);
    border-radius: 2rem;
    outline: none;
    padding-left: 2.8rem;
    padding-right: 2rem;
    font-size: 1.1rem;
}
search-bar::placeholder {
    font-weight: bold;
    opacity: 0.5;
    color: red;
  }
  
.search-icon{
    position: absolute;
    width: 1.5rem;
    left: 0.8rem;
}

.artist-profile{
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    align-items: center;
    border-radius: 0.5rem;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    height: 15rem;
    width: 35rem;
    margin-bottom: 1.5rem;
    margin-top: 10rem;
}
.artist-profile-picture{
    height: 13rem;
    margin-left: 1rem;
    border-radius: 0.5rem;
    object-fit: cover;
}
.artist-profile-info{
    margin-inline: auto;
    text-align: center;
}
.artist-profile-title{
    font-family: mukta, sans-serif;
    margin-block: 0.5rem;
    font-size: 2.5rem;
    line-height: 2.5rem;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Change this number to the desired number of lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}