.landing{
    height: 70vh;
}
.landing-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.landing h1{
    margin-inline: auto;
    margin-block: 0;
    font-size: 4.5rem;
    font-family: 'Nanum Pen Script', cursive;
}
.search-form{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.4rem;
}
.search-bar{
    height: 2.2rem;
    width: 30rem;
    border: none;
    background-color: rgb(232, 232, 232);
    border-radius: 2rem;
    outline: none;
    padding-left: 2.8rem;
    padding-right: 2rem;
    font-size: 1.1rem;
}
search-bar::placeholder {
    font-weight: bold;
    opacity: 0.5;
    color: red;
  }
  
.search-icon{
    position: absolute;
    width: 1.5rem;
    left: 0.8rem;
}