.subnav{
    height: 2rem;
    margin-top: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
.subnav-item{
    width: 5rem;
    height: 100%;
    margin-inline: 0.5rem;
    background-color: rgb(233, 233, 233);
    border: black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
}